html { 
    scroll-behavior: smooth;
}


body {
    background: none;
    color: black;
    width: 100%;
    height: auto;
}

body::-webkit-scrollbar, .left::-webkit-scrollbar, .right::-webkit-scrollbar, .slider::-webkit-scrollbar, .column1::-webkit-scrollbar, .column2::-webkit-scrollbar, .column3::-webkit-scrollbar {
    display: none;
}

a {
    font-family: Helvetica, sans-serif;
    text-decoration-line: none;
    text-decoration: none;
    color: #0048ff;
    font-size: 14px;
}
a:hover {
    color: #ff2600;
    text-decoration: line-through;
}

p {
    line-height: 1.2;
    display: block;
    text-align: left;
    color: black;
}

img {
    padding: 5px;
    width: 100%;
    height: 100%;
}




.hoofd {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 90%;
    float: left;
    z-index: 1;
    
}
nav p {
    margin: 0 10px 0 0;
    width: 80%;
}

.insta, .mail {
    display: none;
}

.contact {
    right: 0.1%;
    float: right;
    position: fixed;
    z-index: 1;
    text-align: right;

}
.bijschrift {
    font-family: Palatino, serif;
    display: block;
    top: 10px; 
    height: auto;
    line-height: normal;
    float: left;
    clear: none;
    width: 70%;
    font-size: 13px;
    margin-top: 1px;
}

.row {
    display: flex;
    flex-direction: column;
    min-height: 98%;
}

.column {
    display: flex;
    flex-direction: column;  
}
.carouselContainer {
  width: 80%;
  height: 350px;
  margin: 5% 10% 0 10%;
  position: relative;   
  overflow: hidden;
  z-index: 0;
  padding-top: 20%;
}
.carouselImgs {
  width: 90%;
  height: auto;
  padding: 5%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.prev, .next {
  position: relative;
  top: 20%;
  cursor: pointer;
  color: #0048ff;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
}
.next:hover {
    color: #ff2600;
}
.prev:hover {
    color: #ff2600;
}
.prev { 
left: -25%;
position: absolute;
padding: 150px;
}
.next { 
left: 45%;
position: absolute;
padding: 150px;
}

.containerText {
    width: 80%;
    padding: 5;
    margin: 5% 10% 0 10%;
}

#down {
  margin-top: 0%;
  padding-bottom: 0%;
  max-height: 800px;
  scroll-snap-type: y mandatory;
 } 


#up {
  margin-top: 0%;

}

.downScroll, .upScroll {
    width: 100%;
    text-align: center;
    z-index: 1;
    left: 0.5%;
}

.downScroll {
    position: sticky;
    height: 100px;
    align-items: center;
    justify-items: top;
    justify-content: center;
}

.upScroll {
    height: 10px;
    position: absolute;
    top: 97%;

}


.moreWork {
    position: relative;
}

.groot {
    width: 100%;
    max-width: 750px;
    height: auto;
    float: center;
}

.left, .right {
   height: 100%; 
   overflow: auto;
   padding: 0.5em 0.5em 0 0.5em;
   clear: none;
   position: static;
}
.left {
    float: left;
    max-width: 60%;
    display: block;
}

.right {
    float: center;
    max-width: 40%;  
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto; 
}

.slider img {
  width: 100%;
  height: auto
  flex-shrink: 0;
  max-height: 400px;
}

.slider img.smallImg {
    width: 50%;
    height: 50%;
    max-height: 200px;
}


.column1, .column2, .column3 {
   overflow: auto;
   padding: 0.5em;
   clear: none;
   position: static;
   width: 90%;
   overflow: auto;
   padding-top: 30%;
}




/* kleur
    #2679ff : lichtblauw (flets);
    #0048ff : helderblauw (schoon!!);
    #ffc926 : warmgeel ;
    #ff5226 : rood / beetje oranje;

background: rgba(255,255,255,0.1); transparant
*/



