html {
    background: white;
    background-image: white;
}

body {
    background: white;
    color: black;
    display: grid;
    grid-gap: 1em;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 2fr 2fr;
    /*grid-auto-rows: 200px;*/
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 1;
    margin-left: 20px;
    padding-top: 20px;
    text-align: left;
    
}

b, strong {
    font-weight: 400;
}

p {
    color: black;
    float: left;
    left: 5px;
    line-height: normal;
    padding: 5px;
    position: relative;
    vertical-align: top;
    grid-area: "home";
}



img {
    margin-left: 200px;
    width: 600px;
    height: auto;
    float: left;
    padding: 10px;
    justify-items: center;
    
}

.nested {
    display: grid;
    grid-auto-rows: 1em;
    grid-gap: 1em;
    grid-row: 1/4;
}

.nested2 {
    display: grid;
    grid-auto-rows: 1em;
    grid-gap: 1em;
    grid-column: 3/3;
}


