@font-face {
    font-family: Gt Super;
    src: url(GT-Super-Text-Book.otf);
}
@font-face {
    font-family: Gt Super;
    font-style: italic;
    src: url(GT-Super-Text-Book-Italic.otf);
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

html { 
    scroll-behavior: smooth;
}
body {
    background: none;
    color: black;
    width: 99%;
    height: auto;
    line-height: 1.3;
}

body::-webkit-scrollbar, .left::-webkit-scrollbar, .right::-webkit-scrollbar, .slider::-webkit-scrollbar, .column1::-webkit-scrollbar, .column2::-webkit-scrollbar, .column3::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

a {
    font-family: Helvetica, sans-serif;
    text-decoration-line: none;
    text-decoration: none;
    color: #0048ff;
    font-size: 15px;
}
a:hover {
    color: #ff2600;
    text-decoration: line-through;
}
p {
    font-family: Gt Super;
    display: block;
    text-align: left;
    color: black;
    font-size: 16px;
}
i {
    font-style: italic;
}
img {
    padding: 0.5%;
    width: 100%;
    height: auto;
}

img.bigImg {
    max-width: 750px;
    height: auto;
}

nav {
    position: fixed;
    top: 0.5%;
    z-index: 2;
    width: 99vw;
}

section.up {
    position: fixed;
    transform: translate(0, 0);
    
    transition: transform 1.5s;
}


section.down {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
        
    transition: transform 1s;
}

body.downSection-open section.down {
    transform: translate(0,0);
}

body.upSection-close section.up {
    transform: translate(0,100%);
}

section.up div.downScroll, section.down div.upScroll {
    width: 100%;
    text-align: center;
    z-index: 1;
    left: 0.5%;
}
section.up div.downScroll {
    position: sticky;
    height: 10px;
}
section.down div.upScroll {
    height: 10px;
    position: absolute;
    top: 86%;
}

section.down div.left, section.down div.right {
   height: 100%; 
   overflow-y: auto;
   padding: 0 0.5em 0 0.5em;
   clear: none;
   position: static;

}
section.down div.left {
    float: left;
    max-width: 60%;
}
section.down div.right {
    float: center;
    max-width: 40%;
}

section.down div.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto; 
  align-items: flex-start;    
}

@media screen and (min-width: 768px) {
        
    nav div.header {
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 60%;
    float: left;
    justify-content: flex-start;
    }
    nav div.header a {
    margin: 0;
    width: 40%;
    }
    nav div.header p {
    margin: 0 5% 0 0;
    width: 50%;  
    }
    
    nav div.contact {
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 40%;
    float: right;
    justify-content: flex-end;
    
    }

    nav div.contact p {
    margin: 0 5% 0 0;
    width: 50%;  
    }
    
    
    section {
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    
    section div {
    width: 100vw;
    }
    section div.row {
    display: flex;
    flex-direction: row;
    height: 86vh;
    padding: 8%;
    }
    section div.row div.slides {
    position: relative;
    z-index: 1;
    }
    section div.row div.slides img {
    position: absolute;
    top: 0;
    left: 0;
    }
    section div.row div.slides img:hover {
    cursor: pointer;
    }
    section div.row div.slides img:first-child {
    z-index: 1;
    }
    section div.row div.slidesText {
    padding: 90px 90px 60px 90px;
    }
    
    p.caption {
    width: 80%;
    line-height: 1.1;
    font-size: 13px;
    margin-top: 1%;
    position: relative;
    }
    section.down div.slider img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    overflow: none;
        
    transform: translateX(0);
    }
    
    section.down div.slider img.smallImg {
    width: 40%;
    height: 100%;
    max-height: 400px;
    } 
    
    section.columnRow {
    padding-top: 0%;
    }
    section.columnRow div.column1, section.columnRow div.column2, section.columnRow div.column3 {
    overflow: auto;
    padding: 0 3% 0 3%;
    clear: none;
    position: static;
    float: left;
    }
    section.columnRow div.column1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 1%;
    height: 100%;
    }
    section.columnRow div.column2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 12%;
    height: 100%;
    }
    section.columnRow div.column3 {
    display:flex;
    flex-direction: column;
    width: 30%;
    padding-top: 30%;
    height: 100%;
    }
}

@media screen and (max-width: 768px) {
    
    body {
        margin: 1px 1px 1px 1px;
    }
    
    a {
    font-size: 16px;
    }
    
    p {
    font-size: 16px;
    }
    
    nav div.header {
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 70%;
    float: left;
    justify-content: flex-start;
    }
    nav div.header a {
    margin: 0;
    width: 100%;
    }
    nav div.header p {
    margin: 0 5% 0 0;
    width: 100%;  
    }
    
    nav div.contact {
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 30%;
    float: right;
    justify-content: flex-end;
    
}

nav div.contact p {
    margin: 0 5% 0 0;
    width: 100%;  
    }
    
    nav div.contact p.witruimteText {
    display: none;
    }
    
    section {
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    
    section div {
    width: 100vw;
    }
    section div.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82vh;
    padding: 8%;
    }
    section div.row div.slides {
    position: relative;
    z-index: 1;
    }
    section div.row div.slides img {
    position: absolute;
    top: 0;
    left: 0;
    }
    section div.row div.slides img:hover {
    cursor: pointer;
    }
    section div.row div.slides img:first-child {
    z-index: 1;
    }
    section div.row div.slidesText {
    margin: 85% 0 0 0;
    padding: 4%;
    height: 50%;
    }
    
    section.down div.upScroll {
    height: 10px;
    position: absolute;
    top: 50%;
    }
    
    p.caption {
    width: 80%;
    line-height: 1.1;
    font-size: 13px;
    margin-top: 1%;
    position: relative;
    }
    section.down div.slider img {
    width: auto;
    height: 100%;
    max-height: 200px;
    object-fit: contain;
    overflow: none;
    }
    section.down div.slider img.smallImg {
    width: 60%;
    height: 100%;
    max-height: 200px;
    } 
    
    section.columnRow {
    padding-top: 50%;
    display: block;
    align-items: center;
    justify-content: center;
    }
    section.columnRow div.column1, section.columnRow div.column2, section.columnRow div.column3 {
    padding: 1% 10%;
    }
    
    
}
    
